version: "2"

services:
  web:
    build:
      context: .
      dockerfile: dockerfile-manotes-api
    container_name: web
    volumes:
    - ./:/code
    env_file:
      - .env
    restart: unless-stopped
    command: >
        bash -c "python manage.py db upgrade &&
        flask run"
    ports:
      - "5324:5324"
    depends_on:
      - postgres
      - redis
    networks:
      - manotes-backend-network

  postgres:
    container_name: manotes-db
    image: postgres:10.6
    ports:
      - "5432:5432"
    env_file:
      - .env.postgres
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - manotes-backend-network

  redis:
    container_name: manotes-redis
    image: redis:5.0.7
    ports:
      - "6379:6379"
    networks:
      - manotes-backend-network

  celery:
    build:
      context: .
      dockerfile: dockerfile-manotes-api
    container_name: celery
    volumes:
      - ./:/code
    env_file:
      - .env
    restart: unless-stopped
    command: celery -A src.initialize.worker worker --loglevel=DEBUG
    depends_on:
      - redis
      - postgres
    networks:
      - manotes-backend-network


networks:
  manotes-backend-network:
    driver: bridge
